@media (min-width: 1024px) {
  .header-banner img {
    display: block;
    height: 60px;
    object-fit: cover;
  }

  .header-banner {
    box-shadow: none !important;
  }

  .header-search-container {
    position: relative;
    top: 0px !important;
    padding-left: 0px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    margin-left: 12px;
    align-items: center;
  }


  .brand-logo-big {
    display: block;
    font-size: 10px;
    width: 195px;
    margin-left: 20px;
  } 

  .search-container-gap {
    display: flex;
    width: 80px;
    min-width: 600px;
    flex-grow: 1;
  }

  .search-container {
    max-width: 600px;
    height: 44px;
    border-radius: 4px;
    padding: 0px 16px;
  }

  .search-text-responsive {
    display: block;

  }

  .search-placeholder {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .brand-logo {
    display: none;
  }

  .left-container {
    display: flex;
    margin-right: -40px;
  }

  .notification-button {
    position: relative;
    display: flex;
    background-color: transparent;
    margin-left: 12px;
    left: 7px;
    top: 2px;
  }

  .notification-icon {
    display: flex;
  }

  .login {
    display: flex;
    background: #fff;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 8px;
    color: #222;
    align-items: center;
    padding: 0 16px;
    width: 134px;
    height: 40px;
    font-size: 14px;
    box-shadow: none;
    justify-content: flex-end;
  }

  .icon-text-login {
    display: flex;
  }

  .login-icon {

  }

  .text-login {

  }


  .shopping {
    position: relative;
    display: flex;
  }
    
}