
@font-face {
    font-family: 'CubeFont';
    src: url('icon/cube-v8.3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'iranyekan';
    src: url('font/iranyekanweb.woff') format('woff');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekanmedium';
    src: url('font/iranyekanwebmedium.2d4f96e5.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}


.header-banner img {
    display: block;
    width: 100%;
    height: 35px;
    object-fit: cover;
}



.header-search-container {
  display: flex;
  flex-wrap: nowrap;
  direction: rtl;
  flex-grow: 1;
  height: 102.8px;
  padding: 12px 16px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: rgb(240, 240, 241);
    height: 40px;
    max-width: 1023px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}



.search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 8.8px ;
  position: relative;
}

.search-icon {
  display: flex;
  align-items: center;
  height: 24px;
  direction: rtl;
  font-family: CubeFont;
  width: 24px;
  height: 52.075px;
  font-size: 24px;
  color: rgb(127, 83, 239);
}

.search-input-wrapper svg {
  width: 24px;
  height: 24px;
}

.search-placeholder {
  color: rgb(129, 133, 139);
  font-size: 11.2px;
  opacity: 0.7;
  font-family: 'IRANYekanmedium';
}

.brand-logo {
  position: relative;
  width: 61px;
  height: 16px;
  top: 0.5px;
}

.notification-button {
    position: relative;
    display: flex;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-right: 8px;
    background-color: rgb(240, 240, 241);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.notification-icon {
    position: relative;
    display: block;
    font-family: CubeFont;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: rgb(66, 71, 80);
    align-items: center;
    justify-content: center;
    top: -5.5px;
}



.mix-logo-placeholder {
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
    gap: 3px;
}

.login {
  display: none;
}

.search-text-responsive {
  display: none;
}


.brand-logo-big {
  display: none;
}




