@media (min-width: 768px) {
   .brand-logo { 
    top: 2.5px;   
   }

   .search-icon {
    position: relative;
    top: -1px;
   }

   .search-icon {
      top: -0.5px;
   }

   .nav-bar {
      display: none;
   }
}